#window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: fit-content;
    background-color: rgb(192, 186, 181);
    border-radius: 5px;
    flex-direction: column;
    padding: 10px;
}

#result {
    display: flex;
    flex-direction: column;
    width: 129px;
    height: 60px;
    justify-content: end;
    align-items: end;
    border: 1Spx solid black;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: aliceblue;
}
.numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 3px;
}

.row{
    display: flex;
    gap: 3px;
}
button{
    margin: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border: none;
    border-radius: 4px;
    transition: transform 0.3s;
}

button:hover{
    background-color: antiquewhite;
    transform:translate(-1px, -1px);
}

button:target{
    background-color: rgb(188, 113, 15);
    transform:translate(-1px, -1px);
}

#plus{
    background-color: rgb(129, 133, 114);
    height: 100%;
}

.numberscontainer{
    gap: 3px;
    display: flex;
    flex-direction: column;
}

#calculus{
    height: 20px;
    display: flex;
    justify-content: end;
}

#result2{
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 30px;
}